{% extends "layout.html" %}

{% block title %}Topic Insight{% endblock %}

{% block header %}
{{ super() }}
<link href="{{url_for('static', filename='css/landing_page.css')}}?ver=0.1" rel="stylesheet" type="text/css">
{% endblock %}

{% block top %}
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Need to use your unstructured data?</h1>
    <h3 class="mb-5">
      <em>What do these reviews say about my product?</em>
    </h3>
    <h3 class="mb-5">
      <em>What are the most popular news article topics?</em>
    </h3>
    <h3 class="mb-5">
      <em>How do I use this text to improve my KPI?</em>
    </h3>
    <h2 style="margin-top: 50px;">
      Try topic modeling!
    </h2>
    <a class="btn btn-primary btn-xl" id="model_button" href="/lda">What is it?</a>
  </div>
</header>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row" id="recommender">
        <div class="col-lg-12 text-left">
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
